<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bioodas.seckill.dao.OrderInfoDao">
	<resultMap id="BaseResultMap" type="com.bioodas.seckill.entity.OrderInfo">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="product_id" jdbcType="VARCHAR" property="productId" />
		<result column="delivery_addr_id" jdbcType="VARCHAR" property="deliveryAddrId" />
		<result column="product_name" jdbcType="VARCHAR" property="productName" />
		<result column="product_price" jdbcType="DECIMAL" property="productPrice" />
		<result column="product_quantity" jdbcType="INTEGER" property="productQuantity" />
		<result column="order_channel" jdbcType="TINYINT" property="orderChannel" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, product_id, delivery_addr_id, product_name, product_price,
		product_quantity,
		order_channel, status, create_time, update_time
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from order_info
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from order_info
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.bioodas.seckill.entity.OrderInfo">
		insert into order_info (id, user_id, product_id,
		delivery_addr_id, product_name, product_price,
		product_quantity, order_channel, status)
		values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
		#{productId,jdbcType=VARCHAR},
		#{deliveryAddrId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL},
		#{productQuantity,jdbcType=INTEGER}, #{orderChannel,jdbcType=TINYINT},
		#{status,jdbcType=TINYINT})
	</insert>
	<insert id="insertSelective" parameterType="com.bioodas.seckill.entity.OrderInfo">
		insert into order_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="deliveryAddrId != null">
				delivery_addr_id,
			</if>
			<if test="productName != null">
				product_name,
			</if>
			<if test="productPrice != null">
				product_price,
			</if>
			<if test="productQuantity != null">
				product_quantity,
			</if>
			<if test="orderChannel != null">
				order_channel,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=VARCHAR},
			</if>
			<if test="deliveryAddrId != null">
				#{deliveryAddrId,jdbcType=VARCHAR},
			</if>
			<if test="productName != null">
				#{productName,jdbcType=VARCHAR},
			</if>
			<if test="productPrice != null">
				#{productPrice,jdbcType=DECIMAL},
			</if>
			<if test="productQuantity != null">
				#{productQuantity,jdbcType=INTEGER},
			</if>
			<if test="orderChannel != null">
				#{orderChannel,jdbcType=TINYINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bioodas.seckill.entity.OrderInfo">
		update order_info
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				product_id = #{productId,jdbcType=VARCHAR},
			</if>
			<if test="deliveryAddrId != null">
				delivery_addr_id = #{deliveryAddrId,jdbcType=VARCHAR},
			</if>
			<if test="productName != null">
				product_name = #{productName,jdbcType=VARCHAR},
			</if>
			<if test="productPrice != null">
				product_price = #{productPrice,jdbcType=DECIMAL},
			</if>
			<if test="productQuantity != null">
				product_quantity = #{productQuantity,jdbcType=INTEGER},
			</if>
			<if test="orderChannel != null">
				order_channel = #{orderChannel,jdbcType=TINYINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bioodas.seckill.entity.OrderInfo">
		update order_info
		set user_id = #{userId,jdbcType=VARCHAR},
		product_id = #{productId,jdbcType=VARCHAR},
		delivery_addr_id = #{deliveryAddrId,jdbcType=VARCHAR},
		product_name = #{productName,jdbcType=VARCHAR},
		product_price = #{productPrice,jdbcType=DECIMAL},
		product_quantity = #{productQuantity,jdbcType=INTEGER},
		order_channel = #{orderChannel,jdbcType=TINYINT},
		status = #{status,jdbcType=TINYINT},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>